<h1>Your Newly Registered User Account</h1>

<dl>
  <dt>Your Username:</dt>
  <dd><%= @user.username %></dd>
  <dt>Your Email Address:</dt>
  <dd><%= @user.email %></dd>
</dl>

<h4>Please click "Login" above, then enter in your username and password to create your first place and make your first post!</h4>

