<h1>Places</h1>

<% if @current_user %>

  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
    <% end %>
  </ul>

  <p>
    <a href="/places/new">New place</a>
  </p>

<% else %>

  Please login to create a new place /or post!

<% end %>